# 1 print pattern

In [12]:
n = 5
s= "ineuron"
for i in range(n):
    for j in range(0, 0+i) :
        print(s, end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

# 2 print pattern

In [ ]:
doubt : how to do this using for loop
    sir

In [68]:
for i in range(6):
    if i <=3:
        n=i
    else:
         n=6-i
    print(("ineuron "*n).center(50,' '))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [71]:
n = 4
s= "ineuron"
for i in range (4) :
    for j in range(0,0+i):
        print(s.center(20,'_'),end = " ")
    print("\n") 
for i in range (4) :
    for j in range(0,0+j):
        print(" " * (len(s)-j),s,end= " ")
    print("\n")

______ineuron_______

______ineuron_______ ______ineuron_______

______ineuron_______ ______ineuron_______ ______ineuron_______

        ineuron        ineuron

        ineuron

In [3]:
l=[[1,2,3,4],(2,3,4,5,6), (3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh", 'k2':"ineuron", 'k3' : "kumar", 3:6 ,7:8}
        ,["ineuron","datascience"]]

In [4]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datascience']]

# 3 print the list

In [5]:
for i in l :
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'datascience']

# 4. print dict entities

In [6]:
for i in l :
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# 5. print tuple entities

In [7]:
for i in l :
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# 6. extract numerical value

In [8]:
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i :
            if type(j) == int:
                print(j , end = " ") 
    if type(i) == dict :
        for j in i :
            if type(j)==int:
                print(j,i[j], end = " ")

1 2 3 4 2 3 4 5 6 3 4 5 6 7 45 4 5 23 3 6 7 8

#  7. give summation of all numeric data

In [9]:
sum = 0
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set or type(i) == dict:
        for j in i :
            if type(j) == int:
                sum= sum+j


    if type(i) == dict :
        for j in i :
            if type(j)==int:
                sum=sum + i[j]
print(sum)

156

# 8. filter out the odd numeric data which is the part of the list

In [10]:
for i in l :
    if type(i) == list or type(i)==tuple or type(i) == set or type(i) == dict :
        for j in i :
            if type(j) == int :
                if j%2!=0:
                    print(j,end=" ")
    if type(i)==dict:
        for j in i :
            if j == int:
                if j%2!=0:
                    print(j)

1 3 3 5 3 5 7 45 5 23 3 7

# 9. try to extract ineuron out of this data

In [77]:
for i in l :
    if type(i)==list or type(i)==tuple :
        for j in i :
            if j == 'ineuron':
                print(j)
    elif type(i)== dict :
        for j in i.items() :
            for g in j :
                
                if g == "ineuron":
                    print(g)

ineuron
ineuron

# 10. count the occurences of the data

In [87]:
l1=[]
for i in l :
    if type(i) == list or type(i) == tuple or type(i)==set :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for j in i.items():
            for g in j:
                l1.append(g)

In [89]:
l2 =set(l1)

In [95]:
for i in l2 :
    print(i, ";",l1.count(i))

k1 ; 1
1 ; 1
2 ; 2
3 ; 4
4 ; 4
5 ; 3
6 ; 3
7 ; 2
ineuron ; 2
k3 ; 1
k2 ; 1
kumar ; 1
8 ; 1
45 ; 1
sudh ; 1
23 ; 1
datascience ; 1

# 11. find number of keys in a dict element

In [14]:

for i in l:
    if type(i) == dict :
            print(len(i.keys()))

5

# 12. try to filter out all the string data

In [15]:
for i in l :
    for j in i :
        if type(j) == str:
            print(j)
for i in l :            
    if type(i) == dict :
        for j in i:
            if type(j)==str :
                print(i[j])

k1
k2
k3
ineuron
datascience
sudh
ineuron
kumar

#  rough work

In [16]:
for i in l :
    if type(i) == dict: 
        for j in i :
            if type(j) == str:
                print(i[j])

sudh
ineuron
kumar

# 13 try to find alphanum in the data

In [17]:
for i in l:
    for j in i :
        if type(j) == str:
            x=j.isalnum()
            if x==True:
                print(j)

k1
k2
k3
ineuron
datascience

In [18]:
y = "deepika"
print(y.isalnum())

True

# 14 try to find out mutiplication of all numeric value in the individual collction inside  dataset

In [120]:
l2 =[]
for i in l :
    if type(i) ==set or type(i) ==list or type(i)==tuple :
        for j in i :
            if type(j) == int :
                l2.append(j)
            
            
for i in l :
    if type(i)== dict :
        for j in i.items():
            for g in j :
                if type(g) == int :
                    l2.append(g)

In [121]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [131]:
mult = 1
for i in l2 :
    mult= mult* i
print(mult)

908605071360000

#  to find the multiplication of individual set

In [142]:
 for i in l:
        u = 1 
        if type(i)== list or type (i) == tuple or type(i) == set :
            for j in i :
                if type(j) == int:
                    u = u * j
            print(u)
        if type(i) == dict :
            for j in i.items():
                for r in j :
                    if type(r)==int:
                        u = u*r
            print(u)

24
720
2520
20700
1008
1

# 15 try to unwrap the collection and make a flat list

In [136]:
l1 = []
for i in l :
    for j in i :
        l1.append(j)
    if type(j) == dict:    
        l3 = list[j]
        l1.append[l3]

for i in l :
    if type(i)==dict:
         for j in i.items() :
                for r in j :
                    l1.append(r)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'datascience', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

In [42]:
d = {3:4,5:6,7:8}

In [43]:
doubt

In [53]:
v =[]
v.append(d.keys())
v.append(d.values())

In [54]:
print(v)

[dict_keys([3, 5, 7]), dict_values([4, 6, 8])]