# s = "this is my First Python Programming class and i am learNING python basics and string"

In [2]:
s

'this is my First Python Programming class and i am learNING python basics and string'

#  2 extracting from 0 to 300the index with a jump of 2

In [3]:
s[0:300:2]

'ti sm is yhnPormigcasadia erIGpto aisadsrn'

##  3 reversing string without using reverse function

In [4]:
s[::-1]

'gnirts dna scisab nohtyp GNINrael ma i dna ssalc gnimmargorP nohtyP tsriF ym si siht'

# 4 splitting after converting into upper case

In [14]:
 s=s.upper()

In [15]:
s.split(' ')

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'BASICS',
 'AND',
 'STRING']

# 5 capitalise the whole string

In [8]:
s.capitalize()

'This is my first python programming class and i am learning python basics and string'

In [9]:
s

'this is my First Python Programming class and i am learNING python basics and string'

#  6 write a diff btw isalphanum() and isalpha

 isalpha() : it is a function which return true when the whole string is contains only alphabets. Not even a single  whitespaces
 whereas
 isalphanum() : is a function which returns true when the string contains boths the alphabets and the numerical value.
 if whiespaces will be there it will return true.

In [30]:
 t = "deepika@123"
 t.isalpha()

False

In [23]:
t.isalnum()

False

#####  is alnum is coming false because it contains white space

In [ ]:
b="deepika123"

In [27]:
b

NameError: name 'b' is not defined

#  7 example of expand tab
it exchange the "\t" with whitespace. and we five the number of white spaces under expandtabs() function

In [38]:
s1 = "My\tname\tis\tdeepika"

In [39]:
s1

'My\tname\tis\tdeepika'

In [41]:
s1.expandtabs(5)

'My   name is   deepika'

#  8 example of strip , lstrip and rstrip

In [45]:
s2 = "--------datascience----------"

In [47]:
s2.strip('-')

'datascience'

In [48]:
s2.lstrip('-')

'datascience----------'

In [49]:
s2.rstrip('-')

'--------datascience'

# 9 replace a string character

In [51]:
 s2.replace('datascience','dataanalyst')

'--------dataanalyst----------'

In [54]:
s3 =  s2.replace('datascience','dataanalyst')

In [55]:
s3

'--------dataanalyst----------'

# 10  try to give a definition of string centre function with example.

Centre function will try to put the text in between the characters which we will mention in the function.
The center function will contain two arguments. first will be the total length of the string and and second will be the charater which needs to be print before and after the print and it will ne enclosed under the single quotes.

Here 10 is the total length of the string and '*' is the character which will get printed in the rest of the left spaces after writting the papaya in between

In [59]:
p = "papaya"

In [64]:
 p1 = p.center(10,'*')

In [65]:
p1

'*******papaya*******'

# 11  compiler and interpreter

compiler and interpreter both are the devices which converts the high level langauges into the langauge which computer can understand that is the langauge of 0's and 1 and that is know as binary langauge.

but the main difference between them is that interpreter translates the one line at a time whereas compiler tranlates the whole code at once. interpreter is used in python , javascript whereas complier is used in  c , c++ , java

# 12  python is a interpreted of compiled langauge, give your understanding.

By definition we know that compiler converts the source code into byte code at once whereas interpreter converts the source cde into byte code line by line and given the example that python is a interpreted langauge.
But python is first compiled by the system which is generally hidden to us and it gets interpreted. Unlike in c or c++ we get a exe file created once it gets complied but it is not the case with python. It though gets compiled but it is invisible to us

#  usecase of python as per my undestanding
As per my information, python is a very easy langauge to understand when gets compared with c , c++ and java. because it gives more freedom to programmer and there is no need to define the datatypes of variable strictly.

1 - python is used in game development.
2 - python and sql is very useful for data analyst to do the work of analysis of data.
3 - It is also used in web development.
4 - It is also used in building web3 application